
<CascadingAuthenticationState>
 


    <Router AppAssembly="@typeof(App).Assembly" >
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <span>Vi er igang med at logge dig ind...</span>
                </Authorizing>
                <NotAuthorized>
                  <OenskeBroenden.Components.Pages.LoginPage></OenskeBroenden.Components.Pages.LoginPage>
                </NotAuthorized>
            </AuthorizeRouteView>


            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    
</CascadingAuthenticationState>
