@using Microsoft.AspNetCore.Components.Forms

<!--Background-->
<div class="form-bg">
    <EditForm Model="@Wish" OnValidSubmit="Submit">
        <!-- form -->
        <div class="form-body">
            <!-- Content -->
            <div class="form-content">
                <div class="form-header">
                    <div></div>
                    <p class="title">Opret Ønske</p>
                    <div class="closing" @onclick="CloseModal">X</div>
                </div>

                <div class="toggle-selector">
                    <button type="button" class="toggle-button" @onclick="@(() => OnRadioSelected("m"))" style="@(SelectedValue == "m" ? "background-color: var(--action-btn-color); color: white;" : "")">Manuelt</button>
                    <button type="button" class="toggle-button" @onclick="@(() => OnRadioSelected("a"))" style="@(SelectedValue == "a" ? "background-color: var(--action-btn-color); color: white;" : "")">Automatisk</button>
                </div>


                @if (IsManual)
                {
                    <!-- input field -->
                    <div class="container-input">
                        <div>
                            <p class="input-description">Navn</p>
                            <InputText class="input-custom" type="text" placeholder="Mit nye ønske..." @bind-Value="@Wish.Name" />
                        </div>
                        <div>
                            <p class="input-description">Beskrivelse</p>
                            <InputText class="input-custom" type="text" placeholder="Skateboard i farven gul..." @bind-Value="@Wish.Description" />
                        </div>
                        <div>
                            <p class="input-description">Pris</p>
                            <div class="container-price">
                                <InputText class="input-custom-price" type="text" placeholder="250" @bind-Value="@Price" />
                                <div class="input-custom-price-currency">
                                    DKK
                                </div>
                            </div>

                        </div>
                        <div>
                            <p class="input-description">Link til ønsket</p>
                            <InputText class="input-custom" type="text" placeholder="www.example.dk/ønske..." @bind-Value="@Wish.Link" />

                        </div>
                        <div>
                            <p class="input-description">billede af varen</p>
                            <InputText class="input-custom" type="text" placeholder="www.example.dk/ønske/ønske.png..." @bind-Value="@Wish.PictureURL" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="container-input">

                        <div>
                            <p class="input-description">Link til ønsket</p>
                            <InputText class="input-custom" type="text" placeholder="www.example.dk/ønske..." @bind-Value="@Wish.Name" />
                        </div>
                        <div>
                            <p class="input-description">Beskrivelse</p>
                            <InputText class="input-custom" type="text" placeholder="Skateboard i farven gul..." @bind-Value="@Wish.Name" />
                        </div>
                    </div>
                }


                <input type="submit" class="button-submit" value="Opret">
            </div>
        </div>
    </EditForm>
</div>

